body{
    margin: 0;
    background-color:  rgb(239, 245, 235);
}


.flex-container{
    /* border: 3px solid black; */
    display: flex;
    align-items: center;
    background-color: white;
}

.flex-container .facebook{
    justify-content: flex-start;
    width: 588.23px;
    height: 55.994px;
}
.facebook > div> figure > img{
    width: 132px;
}

.facebook > div{
    margin: -13px;
    margin-left: -39px;
}


.emailOrphone , .password, .forgottenPassword{
    width: 187.980px;
    height: 39.989px;
    padding: 4px 4px 4px 4px;
}

.password{
    padding-right: 10px;
}
.forgottenPassword{
    /* border: 1px solid red; */
    width: 157px;
    height: 17px;
}

.emailOrphone > input, .password > input{
    width: 162.008px;
    height: 20.011px;
    padding: 8px 12px 10px 12px;
    border-radius: 6px;
    border: 1px solid lightgray;
}
.emailOrphone >input,.password > input{
    outline-color: #1877f2;
}
.flex-container .forgottenPassword{
    justify-content: flex-end;
}

.login{
    width: 76.974px;
    height: 50px;
    margin: 0px;
}

.login >input{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    background-color: #1770e6;
    font-size: 15px;
    line-height: 7px;
    width: 69px;
    height: 40px;
    cursor: pointer;
    color: white;
    border-radius: 6px;
    border: 1px solid lightgray;
}

.login >input:hover{
    background-color: #0856bbe0;
}

#Search:hover{
    background-color: #0856bbe0;
}

.forgottenPassword > a{
    color:#1877f2 ;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.forgottenPassword > a:link{
    text-decoration: none;
}

.forgottenPassword > a:active{
    text-decoration: underline;
}
.forgottenPassword > a:hover{
    text-decoration: underline;
}

.form{
    /* border: 1px solid red; */
    width: 500px;
    height: 266.9974px;
    background-color: white;
    margin: 0 363.182px 0 363.182px;
    padding-top: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
}

.emptyDiv, .empty-div2{
padding: 40px 0;
    width: 1226.36px;
    /* border: 1px solid blue; */
}

form > .emailandphone> input{
    border-radius: 6px;
    color: #8a8d91;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: auto;
    margin-bottom: 0;
    padding: 16px 0px 16px 16px;
    width: 444px;
    border: 1px solid lightgray;
}

.forminner{
    margin-left: 18px;
}

.flex1, .flex2{
    border-bottom: 1px solid #dadde1;
    width: 500px;
    margin-left: -18px;
}

.flex2{
    margin-top: 18px;
    margin-bottom: 18px;
}

.btn-flex{
    display: flex;
    justify-content: right;
    margin-right: 24px;
}

.btn-flex>input:first-of-type{
    margin-right: 10px;
    background-color:lightgray;
    color: rgb(68, 63, 63);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.btn-flex > input:nth-of-type(2){
    background-color: #1770e6;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn-flex > input{
    width: 85.19px;
    height: 35.994px;
    border-radius: 7px;
    border: 1px solid lightgray;
}

.forminner h2{
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-top: -15px;
    padding: 18px 16px 2px 0px;
}

.para1{
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    margin-top: -6px;
    margin-bottom: 8px;
    padding: 18px 16px 2px 0px;
}

.footerforgetform{
    /* border: 1px solid red; */
    position: relative;
    height: 191px;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
}
.empty-div3{
    height: 122px;
    background-color: white;
}

.divseperator{
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}

.footer{
    /* border: 1px solid blue; */
    margin-left: 123.182px;
    margin-right: 123.182px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer a , .meta p{
    font-size: 13px;
    font-family: inherit;
    margin-left: 17px;
    color: grey;
}

#plus{
    border: 1px solid gray;
    padding-right: 10px;
    padding-left: 6px;
    border-radius: 3px;
    margin-top: 26px;
}

.footer a:link{
    text-decoration: none;
}
.footer a:visited{
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.footer a:active{
    text-decoration: underline;
}